.heroWrapper {
  width: 100%;
  min-height: 460px;
  background: #deedd6;
  position: relative;
  justify-content: flex-start;
  overflow: hidden;
}

.heroInner {
  margin-left: 150px;
  flex-direction: column;
  z-index: 10;
}

.headerText {
  letter-spacing: 0.5px;
  font-size: 2.5rem;
  color: #353839;
  font-weight: 600;
  width: 60%;
  margin-top: 30px; /* Increase the top margin to create space between heading and image */
}

.heroInner p {
  font-size: 18px; /* Set the font size to 22px for the paragraph */
  margin: 20px 0; /* Increase the margin to create space between paragraph and image */
  overflow-wrap: break-word;
}

.heroImage {
  position: absolute;
  right: 0px;
  top: 0px;
  height: 100%;
}

.heroImage img {
  height: 100%;
}
