.growthWrapperInner {
  flex-direction: column;
  width: 1100px;
}

.growthHeading {
  text-align: center;
  font-size: 1.8rem;
  width: 100%;
  text-align: center;
  margin: 15px;
}

.growthImg {
  width: 100%;
}

.growthImg img {
  width: 100%;
  max-height: 450px; /* Restore auto height for images */
  object-fit: cover;
  border-radius: 0.5rem;
}

.img2 {
  display: none;
}

.growthList {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.growthDiv {
  flex-direction: column;
  padding: 20px;
  margin: 10px;
  width: calc(25% - 20px); /* Adjusted card width for equal sizing and margin spacing */
  background: #f6f7f8;
  border-radius: 0.5rem;
}

.growthField {
  font-size: 1.8rem;
  font-weight: 600;
  padding: 10px;
}

.growthDes {
  font-size: 1.2rem;
  color: rgba(52, 53, 56, 0.6);
  padding: 10px;
}

@media (max-width: 1200px) {
  .growthHeading {
    width: 100%;
  }

  .growthWrapperInner {
    width: 90%;
  }

  .growthList {
    flex-direction: column;
  }

  .growthDiv {
    width: calc(50% - 20px); /* Adjusted card width for equal sizing and margin spacing */
    margin: 10px 0;
  }

  .growthDes {
    font-size: 1rem;
  }
}

@media (max-width: 900px) {
  .growthHeading {
    font-size: 1.5rem;
  }

  .growthDes {
    display: none;
  }

  .open {
    display: flex;
  }
}

@media (max-width: 750px) {
  .img1 {
    display: none;
  }

  .img2 {
    display: flex;
  }

  .growthImg img {
    height: auto;
  }
}

@media (max-width: 500px) {
  .growthHeading {
    font-size: 1.25rem;
  }

  .growthField {
    font-size: 1.5rem;
  }
}
