/* Login.module.css */

.app {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
  background-color: #f8f9fd;
}

input[type="text"],
input[type="password"] {
  height: 25px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 5px;
}

input[type="submit"],
button {
  margin-top: 10px;
  cursor: pointer;
  font-size: 15px;
  background: #01d28e;
  border: 1px solid #01d28e;
  border-radius: 8px;
  color: #fff;
  padding: 10px 20px;
  width: 200px; /* Added to set a fixed width for the buttons */
}

input[type="submit"]:hover,
button:hover {
  background: #6cf0c2;
}

.button-container {
  display: flex;
  flex-direction: column; /* Updated to column */
  align-items: center; /* Added to center align buttons */
}

.login-form {
  background-color: white;
  padding: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 15px;
}

.error {
  color: red;
  font-size: 12px;
}

.title {
  font-size: 25px;
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 10px;
}

@media (max-width: 768px) {
  .app {
    padding: 20px;
  }

  .login-form {
    width: 100%;
    max-width: 400px; /* Added to limit the form width on smaller screens */
  }

  input[type="text"],
  input[type="password"],
  input[type="submit"],
  button {
    width: 100%; /* Adjusted to full width on smaller screens */
  }
}